@media (max-width: 1100px) {
  .navigation-drawer {
    background-color: #112d4e;
  }

  .story-list {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media (max-width: 800px) {
  .header-text {
    grid-area: header-text;
  }

  .header-image {
    grid-area: header-image;
  }

  .story-detail-image {
    grid-area: story-detail-image;
  }

  .story-detail-text {
    grid-area: story-detail-text;
  }

  .homepage-header {
    grid-template-columns: repeat(1, 1fr);

    grid-template-areas:
      'header-image'
      'header-text';
  }

  .story-detail {
    grid-template-columns: repeat(1, 1fr);

    grid-template-areas:
      'story-detail-image'
      'story-detail-text';
  }

  .header-text h1 {
    font-size: 2rem;
  }

  .header-image img {
    width: 400px;
  }

  .header-title,
  .new-header-title h1,
  .userhome-header-title h1 {
    font-size: 1.5rem;
  }

  .guest-story-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .guest-story-title h1 {
    font-weight: 400;
    font-size: 1.2rem;

    text-align: center;
    padding-block: 15px;
  }

  .story-list {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .new-story-container {
    padding: 20px;
    margin-inline: 0;
  }

  .guest-story-container {
    padding: 20px;
  }

  .story-detail-image {
    display: flex;
    justify-content: center;
  }

  .story-detail-additional-data {
    justify-content: start;
  }

  .notfound-container img {
    width: 400px;
  }
}

@media (max-width: 600px) {
  .header-image img {
    width: 300px;
  }

  .header-text h1 {
    font-size: 1.5rem;
  }

  .header-text p {
    font-size: 0.9rem;
  }

  .story-list {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }

  .notfound-container img {
    width: 280px;
  }
}
